@{
    ViewData["Title"] = "Index";
}

<section class="admin">
    <a class="catalog__title-inner" asp-controller="Entities">Entities</a> ->
    <a class="catalog__title-inner" asp-controller="Categories">Categories</a> ->
    <a class="catalog__title-inner" asp-controller="Things">Things</a> ->
    <a asp-controller="Images">Images</a> +
    <a asp-controller="Characteristics">Characteristics</a>
    <br />
    <a asp-controller="Admin" asp-action="ShowRoles">Roles</a>
    <br />
    <a asp-controller="Orders">Orders</a>
</section>

