<section class="contacts">
    <div class="container contacts__container">
        <div class="section__header catalog__header">
            <div class="section__title contacts__title">
                <span class="contacts__title-inner">Контакты</span>
            </div>
            <div class="contacts__body">
                <div class="contacts__content">
                    <div class="contacts__content-header">
                        <span class="contacts__header-phone section__title">+375 (44) 752-44-85</span>
                        <span class="contacts__header-desc">Каждый день с 10:00 до 22:00</span>
                    </div>
                    <div class="contacts__content-body">
                        <ul class="contacts__info-list">
                            <li>
                                <span class="contacts__info-list-title">Адрес торговой точки</span>
                                <span class="contacts__info-list-desc">г.Минск, ул. Тимирязева, 121/4</span>
                            </li>
                            <li>
                                <span class="contacts__info-list-title">Юридическое лицо</span>
                                <span class="contacts__info-list-desc">ООО Cata</span>
                            </li>
                            <li>
                                <span class="contacts__info-list-title">Email</span>
                                <span class="contacts__info-list-desc">Cata@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2345.752016640043!2d27.67418155082485!3d53.989426199221164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc8f74284b38d%3A0xd31b9a69c1d075ec!2z0YPQuy4gNDAg0LvQtdGCINCf0L7QsdC10LTRiyAzMSwg0JHQvtGA0L7QstC70Y_QvdGLIDIyMzA1Mw!5e0!3m2!1sru!2sby!4v1665389029423!5m2!1sru!2sby" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>