<section class="contacts">
    <div class="container contacts__container">
        <div class="section__header catalog__header">
            <div class="section__title contacts__title">
                <span class="contacts__title-inner">Контакты</span>
            </div>
            <div class="contacts__body">
                <div class="contacts__content">
                    <div class="contacts__content-header">
                        <a href="tel:+375447524485">
                            <span class="contacts__header-phone section__title">+375 (44) 752-44-85</span>
                        </a>
                        <span class="contacts__header-desc">Каждый день с 10:00 до 22:00</span>
                    </div>
                    <div class="contacts__content-body">
                        <ul class="contacts__info-list">
                            <li>
                                <span class="contacts__info-list-title">Адрес торговой точки</span>
                                <span class="contacts__info-list-desc">г.Минск, ул. Тимирязева, 121/4</span>
                            </li>
                            <li>
                                <span class="contacts__info-list-title">Юридическое лицо</span>
                                <span class="contacts__info-list-desc">ООО Cata</span>
                            </li>
                            <li>
                                <span class="contacts__info-list-title">Email</span>
                                <span class="contacts__info-list-desc">Cata@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contacts__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.9738783892353!2d27.458340879357554!3d53.932207928798555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc56c41e0e44d%3A0xd4d68485a67ce5c4!2z0YPQuy4g0KLQuNC80LjRgNGP0LfQtdCy0LAgMTIxLzQsINCc0LjQvdGB0LogMjIwMDIw!5e0!3m2!1sru!2sby!4v1665932817898!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>