/* Обнуление */
*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/* -------------- */
@font-face {
    font-family: "helvetica";
    src: url(../font/helvetica.woff2) format("woff2"), url(/dist/0247694e510ebe67cce1c8bb53d6560f.woff) format("woff")
}

html,
body {
    filter: expression(document.execCommand("BackgroundImageCache", false, true));
    height: 100%;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #1b1b1b;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* ------------------- */

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0px auto;
    font-size: 0;
}

.section__bottom-border {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

.section__title {
    font-weight: 400;
    font-size: 22px;
    font-family: Akzidenz-Ext,Helvetica,Arial,sans-serif;
    line-height: 1.14;
    letter-spacing: .2px;
}

.section__title-inner {
    padding-bottom: 7px;
    border-bottom: 2px solid #ef6f2e;
}

.bg-dark {
    /* background-color: #1b1b1b; */
}

.bg-light {
    background-color: #2a2a2a;
}

/*-------------ADMIN------------------------*/
.admin {
    text-align: center;
    margin-top: 20px;
}

    .admin > a {
    }

.admin-text {
    color: orange;
}


/* -----HEADER---------------------------------- */
.header + main:first-of-type {
    margin-top: 120px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

    .header:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2a2a2a;
        z-index: 2;
    }

.header__container {
    font-size: 16px;
    position: relative;
    z-index: 3;
}

.header__top {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

    .header__top:before {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, 0));
        content: "";
    }

.header__logo {
    display: block;
    height: 32px;
}

.header__shopping-cart {
    z-index: 3;
    position: absolute;
    top: 77px;
    margin: auto;
    right: 0;
    height: 26px;
}

    .header__logo img, .header__shopping-cart img {
        height: 100%;
    }

.header__menu {
    position: relative;
}

.menu li {
    position: relative;
}

.menu__list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.menu__item {
    font-weight: 400;
    font-size: 16px;
    font-family: "helvetica", sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
    letter-spacing: 1.3px;
    transition: all .5s;
    margin-top: 4px;
    color: #fff;
    display: block;
    padding-top: 16px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
}

.sub-menu__list {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0px;
    padding: 55px 0px 0px 0px;
    /* display: flex; */
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    text-transform: initial;
    border: 1px solid #2a2a2a;
}

    .sub-menu__list > li {
        width: 100%;
        padding: 10px 20px;
        background-color: #2a2a2a;
        font-weight: 400;
        font-size: 16px;
        font-family: "helvetica", sans-serif;
        line-height: 22px;
        letter-spacing: 0;
        -webkit-font-smoothing: antialiased;
        color: #fff;
        letter-spacing: .1px
    }

/* ---СЛАЙДЕР-------------------------------------------------- */
.slider__container {
    min-width: 0px;
    display: flex;
    justify-content: center;
}


.main-slider {
    padding: 30px 0px 35px 0px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.main-slider__image {
    text-align: center ;
    height: 100%;
    width: 100%;
}

    .main-slider__image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/* Пагинация */
.main-slider .swiper-pagination {
    bottom: 10px;
}
/* Буллеты (точки) */
.main-slider .swiper-pagination-bullet {
    opacity: 0.5;
    margin: 0 5px !important;
    width: 15px;
    height: 15px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

.main-slider .swiper-pagination-bullet-active {
    opacity: 1;
}


/* ----КАТАЛОГ ТОВАРОВ------------------------------------------------------- */

.catalog__container {
    padding: 60px 0px;
}

.catalog__title {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
}

.catalog__list {
    margin-right: -30px;
    margin-bottom: -30px;
    padding: 30px 0px;
}

.item {
    display: inline-block;
    width: 410px;
    margin: 0 30px 30px 0;
    border-radius: 12px;
    overflow: hidden;
    vertical-align: top;
    height: 100%;
}

.item__two-column {
    width: 630px;
}

.item__link {
    position: relative;
    display: inline-block;
    background-color: #d9d9d9;
    color: #1b1b1b;
    box-shadow: inset 0 0 0 0 #ef6f2e;
    cursor: pointer;
    transition: opacity .5s ease, background-position .3s ease, box-shadow .3s;
    will-change: opacity, box-shadow, background-position;
}

.item__bg-dark {
    background-color: #2a2a2a;
    color: #d9d9d9;
}

.item__link:hover {
    box-shadow: inset 0 -70px 0 0 #ef6f2e;
}

.item__img {
    width: 230px;
    height: 230px;
    display: block;
    margin: 30px;
}

.item__img-two-column {
    width: 590px;
}

.item__footer {
    position: relative;
    padding: 20px 20px;
}

.item__title {
    min-height: 2em;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.8px;
    width: 80%;
}

.item__arrow {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 16px;
    right: 20px;
    height: 26px;
    width: 26px;
}

/* -------КАТЕГОРИЯ--------------------------------- */

.content {
    margin-right: -30px;
    margin-bottom: -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    /* min-width: 0; */
    /* Вынести вверх  */
}


.button {
    display: inline-block;
    padding: 18px 29px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 15px;
    letter-spacing: 1.4px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ef6f2e;
    border-radius: 27.5px;
    cursor: pointer;
    transition: opacity .3s ease 0s,background-color .3s ease 0s;
    -webkit-appearance: none;
}

    .button:hover {
        background-color: #ef6f2e;
    }




/* ----FOOTER----------- */
.footer {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
}

.footer__container {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

.footer__category-list {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.footer__category-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 85px;
    overflow: hidden;
    background: rgba(49,42,40,.4);
    border-radius: 12px;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}

    .footer__category-list-item:not(:last-child) {
        margin-right: 30px;
    }

    .footer__category-list-item:hover {
        background: rgba(0,0,0,.2);
    }

    .footer__category-list-item img {
        display: block;
        width: 36px;
        height: 36px;
    }

    .footer__category-list-item span {
        bottom: 22px;
        display: block;
        margin-top: 14px;
        font-weight: 500;
        font-size: 10px;
        font-family: Helvetica,Arial,sans-serif;
        line-height: 9px;
        letter-spacing: 1.54px;
        text-align: center;
        text-transform: uppercase;
    }

.footer__social-list {
    display: flex;
    ;
    justify-content: center;
    margin-top: 20px;
}

.footer__social-list-item {
    height: 25px;
    width: 25px;
}

    .footer__social-list-item:not(:last-child) {
        margin-right: 38px;
    }

    .footer__social-list-item img {
        height: 100%;
    }

.footer__desc {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

    .footer__desc span {
        color: #b1b1b1;
        font-size: 15px;
        font-family: Helvetica,Arial,sans-serif;
        line-height: 1.25;
        letter-spacing: .4px;
        text-align: center;
    }

/* -------- BREAKEPOINTS ------------- */
@media (min-width: 1320px) {
    .catalog__list {
        margin-right: -60px;
        margin-bottom: -60px;
        padding: 30px 150px;
    }

    .item {
        width: 290px;
        margin: 0 60px 60px 0;
    }
}


@media (min-width: 768px) {
    .menu__list {
        margin-left: 42px;
    }

    .menu__item:hover .sub-menu__list {
        display: flex;
    }

    .menu li:after {
        position: relative;
        bottom: -4px;
        display: block;
        height: 1px;
        background-color: #f37021;
        transition: width .5s;
        content: "";
        right: 0;
        width: 0;
    }

    .menu li:hover::after {
        position: relative;
        bottom: -4px;
        display: block;
        height: 1px;
        background-color: #f37021;
        transition: width .5s;
        content: "";
        left: 0;
        width: 100%;
    }
}

@media (max-width: 1320px) and (min-width: 768px) {
    .catalog__list {
        padding: 30px 0;
    }

    .container {
        width: 960px;
    }

    .item {
        width: 300px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .item__img {
        width: 240px;
        height: 240px;
    }

    .item__title {
        font-size: 16px;
    }

    .item__arrow {
        height: 22px;
        width: 22px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .container {
        width: 630px;
    }
}

@media (max-width: 767px) {

    /* -----Burger Menu----- */
    .header + main:first-of-type {
        margin-top: 70px;
    }

    body.lock {
        overflow: hidden;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        height: 50px;
        z-index: 2;
    }

    .header__logo {
        height: 20px;
    }

    .header__top {
        height: 100%;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

        .header__burger span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }

        .header__burger:before,
        .header__burger:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        .header__burger:before {
            top: 0;
        }

        .header__burger:after {
            bottom: 0;
        }

        .header__burger.active span {
            transform: scale(0);
        }

        .header__burger.active:before {
            transform: rotate(45deg);
            top: 9px;
        }

        .header__burger.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }

    .header__shopping-cart {
        top: 7.5px;
        right: 73px;
        height: 33px;
    }

    .header__menu {
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2a2a2a;
        padding: 70px 0 0 0;
        transition: all 0.3s ease 0s;
    }

    .menu__list {
        flex-direction: column;
        padding: 0px 40px;
    }

    .menu__item {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .sub-menu__list {
        position: static;
        padding: 5px 0 0;
        width: auto;
    }

        .sub-menu__list > li {
            padding: 8px 20px;
        }

    .header__menu.active {
        top: 0;
    }

    .menu__item span {
        position: relative;
    }

        .menu__item span:after {
            position: absolute;
            bottom: 1px;
            right: -30px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-right: 2px solid hsla(0, 0%, 100%, .5);
            border-bottom: 2px solid hsla(0, 0%, 100%, .5);
            -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            transition: border-color .2s ease-out 0s;
            will-change: border-color;
            content: "";
        }

    .menu__link.menu__link--opened:after {
        border-color: currentColor;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    /* --------------- */
    .container {
        padding: 15px;
        width: auto;
    }

    .slider {
        display: none;
    }

    .catalog__list {
        margin-right: -10px;
        margin-bottom: -15px;
    }

    .item {
        width: calc(50% - 10px);
        margin: 0 10px 15px 0;
    }

    .item__link:hover {
        box-shadow: inset 0 -44px 0 0 #ef6f2e;
    }

    .item__img {
        width: 85%;
        height: auto;
        margin: 15px auto 10px
    }

    .item__footer {
        padding: 15px;
    }

    .item__title {
        font-size: 14px;
    }

    .item__arrow {
        height: 16px;
        width: 16px;
        right: 15px;
        bottom: 14px;
    }

    /* Footer */
    .footer__category-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        padding: 24px 0 0;
    }

    .footer__category-list-item:not(:last-child) {
        margin-right: 0px;
    }

    .footer__category-list-item {
        width: 100%;
    }
}

@media(max-width: 480px) {
    .item__img {
        margin: 10px auto 10px
    }

    .item__footer {
        padding: 10px;
    }

    .item__title {
        font-size: 12px;
    }

    .item__arrow {
        height: 14px;
        width: 14px;
        right: 10px;
        bottom: 8px;
    }
}

/* Catalog */
.product-item__header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    position: relative;
}

.product-item__img {
    max-width: 70%;
    max-height: 70%;
    transition: transform .3s ease, opacity .3s, -webkit-transform .3s ease;
}


.product-item:hover .product-item__img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/* Slider swiper product */
.image-slider {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.image-slider__image {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
}

    .image-slider__image img {
        width: 80%;
        height: 100%;
        object-fit: contain;
    }

.image-slider .swiper-button-next {
    right: 20px;
}

.image-slider .swiper-button-prev {
    left: 20px;
}

    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after {
        color: #b1b1b1;
    }

    .image-slider .swiper-button-prev:hover::after,
    .image-slider .swiper-button-next:hover::after {
        color: #fff;
    }

/* ----СЛАЙДЕР-ПРЕВЬЮ-ПРОДУКТ-------------------------- */

.image-mini-slider {
    margin-top: 30px;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.image-mini-slider__slide {
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
}

    .image-mini-slider__slide.swiper-slide-thumb-active {
        opacity: 1;
    }

.image-mini-slider__image {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
}

    .image-mini-slider__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }





/* ORDER */
/* ------------ */
.cart-header__container {
    position: relative;
    padding-top: 30px;
}

.cart-header__title {
    color: #9d9390;
    font-weight: 400;
    font-size: 28px;
    font-family: bork,Helvetica,Arial,sans-serif;
    line-height: 35px;
    letter-spacing: .28px;
    text-align: center;
}

/* ----------------- */

.cart__container {
    margin-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.basket__list {
    border-radius: 12px;
    width: 100%;
    background: #2a2a2a;
    display: flex;
    flex-direction: column;
}

.basket__item {
    position: relative;
    padding: 30px 60px;
    display: flex;
    width: 100%;
    font-size: 18px;
}

.basket__item-column {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0px 0px;
}
/* .basket__item-column-left{
    border-right: 1px solid hsla(0,0%,100%,.1);
} */

.basket__item-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 80px;
}

    .basket__item-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* object-fit: cover; */
    }

.basket__item-title {
    width: 200px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    ;
    text-align: left;
}

.basket__item-count {
    display: inline-block;
    text-align: center;
    width: 33.3%;
}

.basket__item-count-input {
    display: inline-block;
    width: 55%;
    min-width: 75px;
    height: 50px;
    padding: 0 24px;
    color: #3a3330;
    font-weight: 400;
    font-size: 20px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.25;
    text-align: center;
    background-color: #f1efef;
    border-radius: 8px;
}

.basket__item-price {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    font-size: 20px;
    vertical-align: top;
}

.basket__item-delete {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 0.5;
    font-size: 0;
    line-height: 0;
    transition: opacity .5s ease;
    will-change: opacity;
    background-color: transparent;
    cursor: pointer
}

    .basket__item-delete:before {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(/img/icons/Cancel.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        content: "";
    }

    .basket__item-delete:hover {
        opacity: 1;
    }

/* ------Basket-footer------------- */

.basket__list-footer {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.basket__total {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 25px 0px;
}

.basket__total-count-wrapper {
    display: inline-block;
    width: 33.33%;
    border-right: 1px solid hsla(0,0%,100%,.1);
}

.basket__total-count {
    font-weight: 400;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: .781;
}

.basket__total-count-desc {
    margin-top: 7px;
    color: #9d9390;
    font-size: 16px;
    line-height: 1.563;
    text-align: center;
}

.basket__total-price-wrapper {
    display: inline-block;
    width: 33.3%;
}

.basket__total-price {
    font-weight: 400;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: .781;
}

.basket__total-price-desc {
    margin-top: 7px;
    color: #9d9390;
    font-size: 16px;
    line-height: 1.563;
    text-align: center;
}

.basket__button-continue {
    width: 33.3%;
    /* align-self: center; */
}



/* ------Cart-empty-------------- */
.cart-empty__container {
    margin-top: 105px;
}

.cart-empty__title {
    padding: 0 10px;
    line-height: 1.136;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .006em;
}

.cart-empty__desc {
    margin-top: 26px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    letter-spacing: .03em;
    text-align: center;
}

.cart-delivery-methods__input {
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0 24px;
    margin-bottom: 10px;
    color: #3a3330;
    font-weight: 400;
    font-size: 16px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.25;
    text-align: left;
    background-color: #f1efef;
}

.cart-section__title {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    font-family: Akzidenz-Ext,Helvetica,Arial,sans-serif;
    line-height: 25px;
    letter-spacing: .22px;
}

.cart-section__header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
}



/*--------------------INFO------------------------------*/
.about__container {
    padding: 40px 0 20px;
}

.about__title, .service__title {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
}

    .about__title:before, .service__title:before {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, 0));
        content: "";
    }

.about__desc, .service__desc {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    letter-spacing: .03em;
    text-align: center;
}

.about__desc {
    margin-top: 30px;
}

/* --------Service-------- */
.service__container {
    padding: 60px 0;
}

.service__body {
    margin-top: 30px;
    display: flex;
}

.service__content, .service__map {
    width: 50%;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    letter-spacing: .03em;
    padding: 0 20px;
}

.service__content {
    /* padding-left: 10%; */
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service__phones {
    /* margin: 15px 0px 30px 10px; */
    margin: 15px 0px 30px;
}

.service__map {
    height: 500px;
}



/* -------- BREAKEPOINTS ------------- */

@media (max-width: 1320px) {
    .service__map {
        height: 400px;
    }
}

@media (max-width: 979px) {
    .service__body {
        flex-direction: column;
    }

    .service__map, .service__content {
        width: 100%;
    }

    .service__content {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .about__desc, .service__desc,
    .service__content, .service__map {
        font-size: 16px;
    }
}


/*-------------------------CONTACTS-----------------------------------*/
.contacts__container {
    padding: 40px 0;
}

.contacts__title, .contacts__content-header {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
}

    .contacts__title:before {
        position: absolute;
        right: 0;
        bottom: 0px;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, 0));
        content: "";
    }

.about__desc {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    letter-spacing: .03em;
    text-align: center;
}

.contacts__body {
    margin-top: 30px;
    display: flex;
}

.contacts__content, .contacts__map {
    width: 50%;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: Akzidenz,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    letter-spacing: .03em;
    padding: 0 20px;
}

.contacts__content {
    /* padding-left: 10%; */
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts__phones {
    /* margin: 15px 0px 30px 10px; */
    margin: 15px 0px 30px;
}

.contacts__map {
    height: 500px;
}

.contacts__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__header-phone {
    font-size: 28px;
    padding-bottom: 15px;
}

.contacts__header-desc, .contacts__info-list-title {
    font-size: 14px;
    color: #b1b1b1;
}

.contacts__content-body {
    padding-top: 20px;
}

.contacts__info-list li {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.contacts__info-list-desc {
    padding-top: 2px;
    padding-left: 30px;
}

/* -------- BREAKEPOINTS ------------- */

@media (max-width: 1320px) {
    .contacts__map {
        height: 400px;
    }
}

@media (max-width: 979px) {
    .contacts__body {
        flex-direction: column;
    }

    .contacts__map, .contacts__content {
        width: 100%;
    }

    .contacts__content {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .contacts__container {
        padding-top: 40px;
    }

    .contacts__content, .contacts__map {
        font-size: 16px;
    }

    .contacts__header-phone {
        font-size: 24px;
    }

    .contacts__header-desc {
        font-size: 12px;
    }
}

@media(max-width: 480px) {
}

/*-------------------------------Entity and category deatails----------------------------*/
/* ------Navigation ------ */
.category__navigation {
    display: flex;
    justify-content: center;
}

.category__navigation-button:not(:last-child) {
    margin-right: 30px;
}

.category__navigation-button {
    font-size: 12px;
    padding: 10px 15px;
    text-transform: none;
}

/* -------- BREAKEPOINTS ------------- */
@media (max-width: 1320px) and (min-width: 768px) {
}

@media (max-width: 979px) {
    .category__menu-column {
        display: none;
    }

    .category__content-column {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .category__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .content {
        padding-top: 30px;
        padding-bottom: 15px;
        margin-right: -10px;
        margin-bottom: -15px;
    }

    .cart-delivery-methods__label {
        width: 285px;
        font-size: 14px;
    }

    .cart-delivery-methods__input {
        font-size: 14px;
    }

    .product-item {
        width: calc(50% - 10px);
        margin: 0 10px 15px 0;
    }

    .product-item__header {
        width: 100%;
        height: calc(50vw - 20px);
    }

    .product-item__img {
        max-height: 80%;
        max-width: 80%;
    }

    .product-item__title {
        font-size: 14px;
    }

    .product-item__price {
        font-size: 12px;
    }
}

@media(max-width: 600px) {
    .category__header-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-delivery-methods__label {
        padding: 10px;
    }
}

@media(max-width: 480px) {
    .product-item__title {
        font-size: 12px;
    }

    .product-item__price {
        font-size: 10px;
    }
}


/*ORDER BREAKPOINT*/
@media (max-width: 767px) {
    .basket__item-count-input, .cart-delivery-methods__input {
        height: 35px;
    }
}