html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.block-image{
    width: 200px;
    height: 200px;
    margin: 0;
    display: inline-block;
}

.block-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}