<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HardwareStore</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HardwareStore.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/cata.ico" sizes="32x32" />
</head>

<body>

    <div class="wrapper">
        @await Html.PartialAsync("_Header")

        @RenderBody()
        
        @await Html.PartialAsync("_Footer")
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
