<section class="cart-header">
    <div class="container cart-header__container">
        <div class="cart-header__title">Ваш заказ</div>
    </div>
</section>
<section class="cart-empty">
    <div class="container cart-empty__container">
        <div class="cart-empty__title">
            В корзину пока ничего не добавлено
        </div>
        <div class="cart-empty__desc">
            Выберите подходящую технику из коллекции CATA
        </div>
    </div>
</section>